.auth-container {
  background-color: #fff;
  border: 2px solid #ca133e; /* бордовый */
  border-radius: 12px;
  padding: 40px;
  max-width: 400px;
  margin: 60px auto;
  box-shadow: 0 8px 24px rgba(128, 0, 32, 0.3);
  text-align: center;
}

.auth-container h2 {
  color: #ca133e;
  margin-bottom: 20px;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ca133e;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.auth-form input:focus {
  border-color: #ff4d4d; /* более яркий красный при фокусе */
}

.auth-form button {
  background-color: #ca133e;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: #a00028;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #ca133e;
  padding: 16px 0;
  box-shadow: #a81830;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
}

nav a:hover {
  background-color: white;
  color:#ca133e;
  transform: translateY(-2px);
}

nav a.active-link {
  background-color: white;
  color:#ca133e;
  transform: translateY(-2px);
}
